<div
  class="fixed inset-0 z-50 flex items-center justify-center bg-black/50 py-4"
>
  <article
    class="menu-wrapper bg-dark-secondary rounded-xl shadow-xl p-6 w-full max-w-xl max-h-[90vh] overflow-y-auto"
  >
    <div class="text-light-secondary px-4">
      <h2 class="text-xl text-light-primary font-semibold mb-1">
        Add new resource
      </h2>
      <p class="mb-4 text-light-secondary">
        Upload a file or add a link to your resource collection.
      </p>
    </div>

    <div class="flex mb-4 px-4">
      <button
        type="button"
        class="flex-1 px-4 py-2 rounded-l-md border font-semibold transition cursor-pointer"
        [ngClass]="{
          'bg-blue-500 text-white border-blue-500': activeTab === 0,
          'bg-dark-muted text-light-secondary border-dark-muted/80':
            activeTab !== 0
        }"
        (click)="activeTab = 0"
      >
        Upload file
      </button>
      <button
        type="button"
        class="flex-1 px-4 py-2 rounded-r-md border font-semibold transition cursor-pointer"
        [ngClass]="{
          'bg-blue-500 text-white border-blue-500': activeTab === 1,
          'bg-dark-muted text-light-secondary border-dark-muted/80':
            activeTab !== 1
        }"
        (click)="activeTab = 1"
      >
        Add link
      </button>
    </div>
    @if (activeTab === 0) {
    <div class="p-4 min-h-[400px]">
      <!-- Dropzone -->
      @if (!selectedFile) {
      <div
        class="border-2 border-dashed rounded-lg text-center p-10 cursor-pointer transition-all duration-300 mb-4"
        [ngClass]="{
          'border-blue-500 bg-indigo-50': dragActive,
          'border-gray-300': !dragActive
        }"
        (dragover)="onDragOver($event)"
        (dragleave)="onDragLeave($event)"
        (drop)="onDrop($event)"
        (click)="fileInput.click()"
        tabindex="0"
        role="button"
        aria-label="Área para soltar archivos o seleccionar"
      >
        <div class="text-5xl mb-4">☁️⬆️</div>
        <p class="mb-2 text-light-secondary">Drag & drop files here or</p>
        <button type="button" class="text-blue-500 underline">
          Select file
        </button>
        <input
          #fileInput
          type="file"
          hidden
          (change)="onFileSelected($event)"
          accept="*/*"
        />
      </div>
      }

      <!-- File preview -->
      @if (selectedFile) {
      <div class="mb-5">
        <div class="flex items-center gap-4">
          <div
            class="w-16 h-16 rounded-lg bg-light-muted flex justify-center items-center overflow-hidden text-3xl"
          >
            @if (preview) {
            <img
              [src]="preview"
              alt="Vista previa"
              class="w-full h-full object-cover"
            />
            } @if (!preview) {
            <div>📄</div>
            }
          </div>
          <div class="flex-1">
            <p class="font-semibold mb-1 text-light-primary">
              {{ selectedFile.name }}
            </p>
            <p class="text-sm text-light-muted">
              {{ getFileSize(selectedFile.size) }}
            </p>
          </div>
          <button
            type="button"
            (click)="clearSelectedFile()"
            class="text-sm text-blue-500 underline cursor-pointer"
          >
            Change
          </button>
        </div>
      </div>
      }

      <!-- File form -->
      <form [formGroup]="fileForm" class="flex flex-col gap-3" novalidate>
        <label class="flex flex-col font-semibold  text-light-tertiary">
          Title
          <input
            type="text"
            formControlName="title"
            class="mt-1 px-2 py-3 text-light-primary border rounded text-sm font-medium resize-y border-dark-muted focus:border-blue-300 focus:ring-2 focus:ring-light-muted/50 focus:outline-none"
            placeholder="Resource name"
            required
          />
          @if (fileForm.get('title')?.invalid && fileForm.get('title')?.touched)
          {
          <span class="text-red-300 text-sm mt-1">* required title</span>
          }
        </label>

        <label class="flex flex-col font-semibold  text-light-tertiary">
          Description
          <textarea
            rows="3"
            formControlName="description"
            class="mt-1 px-2 py-3 text-light-primary border rounded text-sm resize-y border-dark-muted focus:border-blue-300 focus:ring-2 focus:ring-light-muted/50 focus:outline-none"
            placeholder="Resource description"
          ></textarea>
        </label>

        <div class="flex gap-4">
          <label class="flex flex-col flex-1 font-semibold  text-light-tertiary">
            Work Space
            <select
              formControlName="workspace"
              class="mt-1 px-2 py-3 text-light-primary border rounded text-sm resize-y border-dark-muted focus:outline-none"
              required
            >
              <option value="">Select...</option>
              <option value="personal">Personal</option>
              <option value="work">Work</option>
              <option value="projects">Projects</option>
            </select>
            <!-- @if (fileForm.get('workspace')?.invalid && fileForm.get('workspace')?.touched) {
                <span
                  class="text-red-500 text-sm mt-1"
                  >Espacio requerido</span
                >
              } -->
          </label>
        </div>

        <label class="flex flex-col font-semibold  text-light-tertiary">
          Tags
          <input
            type="text"
            formControlName="tags"
            class="mt-1 px-2 py-3 text-light-primary border rounded text-sm resize-y border-dark-muted focus:border-blue-300 focus:ring-2 focus:ring-light-muted/50 focus:outline-none"
            placeholder="Separated by commas (e.g.: work, important)"
          />
        </label>
      </form>
    </div>
    }

    <!-- Tab 2: Enlace -->
    @if (activeTab === 1) {
    <div class="p-4 min-h-[400px]">
      <form [formGroup]="linkForm" class="flex flex-col gap-3" novalidate>
        <label class="flex flex-col font-semibold text-light-tertiary">
          URL
          <input
            type="url"
            formControlName="url"
            class="mt-1 px-2 py-3 text-light-primary border rounded text-sm resize-y border-dark-muted focus:border-blue-300 focus:ring-2 focus:ring-light-muted/50 focus:outline-none"
            placeholder="https://example.com"
            required
          />
          @if (linkForm.get('url')?.invalid && linkForm.get('url')?.touched) {
          <span class="text-red-300 text-sm mt-1">* valid URL required</span>
          }
        </label>

        <label class="flex flex-col font-semibold text-light-tertiary">
          Title
          <input
            type="text"
            formControlName="title"
            class="mt-1 px-2 py-3 text-light-primary border rounded text-sm resize-y border-dark-muted focus:border-blue-300 focus:ring-2 focus:ring-light-muted/50 focus:outline-none"
            placeholder="Resource name"
            required
          />
          @if (linkForm.get('title')?.invalid && linkForm.get('title')?.touched)
          {
          <span class="text-red-300 text-sm mt-1">* required title</span>
          }
        </label>

        <label class="flex flex-col font-semibold text-light-tertiary">
          Description
          <textarea
            rows="3"
            formControlName="description"
            class="mt-1 px-2 py-3 text-light-primary border rounded text-sm resize-y border-dark-muted focus:border-blue-300 focus:ring-2 focus:ring-light-muted/50 focus:outline-none"
            placeholder="Resource description"
          ></textarea>
        </label>

        <div class="flex gap-4">
          <label class="flex flex-col flex-1 font-semibold  text-light-tertiary">
            Work Space
            <select
              formControlName="workspace"
              class="mt-1 px-2 py-3 text-light-primary border rounded text-sm resize-y border-dark-muted focus:outline-none"
              required
            >
              <option value="">Select...</option>
              <option value="personal">Personal</option>
              <option value="work">Work</option>
              <option value="projects">Projects</option>
            </select>
          </label>
        </div>

        <label class="flex flex-col font-semibold  text-light-tertiary">
          Tags
          <input
            type="text"
            formControlName="tags"
            class="mt-1 px-2 py-3 text-light-primary border rounded text-sm resize-y border-dark-muted focus:border-blue-300 focus:ring-2 focus:ring-light-muted/50 focus:outline-none"
            placeholder="Separated by commas (e.g.: work, important)"
          />
        </label>
      </form>
    </div>
    }

    <!-- Acciones -->
    <div class="flex justify-end gap-3 mt-4">
      <button
        type="button"
        (click)="onCancel()"
        class="px-4 py-2 border border-light-muted rounded font-semibold bg-transparent text-light-primary hover:bg-dark-tertiary/80 transition-colors duration-200 ease-in cursor-pointer"
      >
        Cancel
      </button>
      <button
        type="button"
        (click)="onSave()"
        class="px-4 py-2 bg-blue-500 text-light-primary rounded font-semibold hover:bg-blue-700 transition-colors duration-200 ease-in cursor-pointer"
      >
        Save
      </button>
    </div>
  </article>
</div>
