<nav class="flex flex-col gap-6">
  <!-- Pages -->
  <div>
    <h4 class="text-xs font-semibold text-light-muted mb-2 px-4 tracking-wide">
      Navegation
    </h4>
    <ul class="flex flex-col gap-2">
      @for (item of navigationItems; track item.route) {
      <li>
        <a
          [routerLink]="item.route"
          routerLinkActive="bg-dark-tertiary"
          [routerLinkActiveOptions]="{ exact: true }"
          class="flex items-center gap-2 px-4 py-1 hover:bg-dark-secondary"
        >
          <lucide-icon [name]="item.icon" class="w-4 h-4 text-light-muted" />
          {{ item.label }}
        </a>
      </li>
      }
    </ul>
  </div>

  <!-- Categories -->
  <div>
    <h4 class="text-xs font-semibold text-light-muted px-4 mb-2 tracking-wide">
      Categories
    </h4>
    <ul class="flex flex-col gap-2">
      @for (item of categoryItems; track item.label) {
      <li>
        <a
          [routerLink]="item.route"
          routerLinkActive="bg-dark-tertiary"
          class="flex items-center gap-2 px-4 py-1 rounded hover:bg-dark-secondary"
        >
          <lucide-icon [name]="item.icon" class="w-4 h-4 text-light-muted" />
          {{ item.label }}
        </a>
      </li>
      }
    </ul>
  </div>

  <!-- Workspaces -->
  <div>
    <div class="flex justify-between items-center mb-2 px-4">
      <h4 class="text-xs font-semibold text-light-muted tracking-wide">
        Workspaces
      </h4>
      <button class="text-lg leading-none cursor-pointer">
        <lucide-icon
          name="Plus"
          class="w-3.5 h-3.5 text-light-primary hover:text-light-muted"
        />
      </button>
    </div>
    <ul class="flex flex-col gap-2">
      @for (item of workspaces(); track item.name) {
      <li>
        <a
          href="#"
          class="flex items-center gap-2 px-4 py-1 rounded hover:bg-dark-secondary"
        >
          <lucide-icon name="FolderOpen" class="w-4 h-4 text-light-primary" />
          {{ item.name }}
        </a>
      </li>
      }
    </ul>
  </div>
</nav>
