@import "tailwindcss";
@tailwind utilities;

@theme {
  /* Colores oscuros */
  --color-dark-primary: #212529;
  --color-dark-secondary: #343a40;
  --color-dark-tertiary: #495057;
  --color-dark-muted: #6c757d;

  /* Colores claros */
  --color-light-primary: #F8F9FA;
  --color-light-secondary: #E9ECEF;
  --color-light-tertiary: #DEE2E6;
  --color-light-muted: #CED4DA;

  /* Colores Recursos */
  --color-green-link: #8bb174;
  --color-red-video: #F03A47;
  --color-blue-file: #2191FB;
  --color-purple-picture: #A833B9;
}

::-webkit-scrollbar-track {
  background: var(--color-dark-secondary);
}
::-webkit-scrollbar-thumb {
  background-color: var(--color-dark-primary);
  border-radius: 4px;
  border: 2px solid var(--color-dark-tertiary);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-dark-tertiary);
}
/* Firefox */
* {
  scrollbar-color: var(--color-dark-primary) var(--color-dark-tertiary);
}